<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
     <p>{{email}}</p>
    <form action="/change" method="POST">
        <input type="text" value="{{email}}" name="email" readonly = "readonly"  >
        <input type="password" name="newPsw" placeholder="请输入新密码">
        <input type="password" placeholder="请再次输入新密码">
        <input type="submit">
    </form>

</body>

</html>