<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>密码找回</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- <link rel="shortcut icon" href="favicon.ico"> -->

	<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->

	<link rel="stylesheet" href="../public/css/bootstrap.min.css">
	<link rel="stylesheet" href="../public/css/animate.css">
	<link rel="stylesheet" href="../public/css/style.css">

	<!-- Modernizr JS -->
	<script src="../public/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<style>
		.tf {
			margin-top: -20px;
			color: red;
			font-size: small;
			font-family: 宋体;
		}
	</style>
	<script type="text/javascript">
		window.onload = function () {
			var em = document.getElementById('email');
			var divs = document.getElementsByClassName('tf');
			let codeInput = document.querySelector('#code')
			var bt = document.getElementById('bt');
			em.onblur = function () {
				if (em.value == '') {
					divs[0].innerHTML = "邮箱账号不能为空！"
				}else if (/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/.test(em.value) == false) {
					divs[0].innerHTML = "请输入正确的邮箱格式！";
					return false;
				}
				else {
					divs[0].innerHTML = ""
				}
			}
			bt.onclick = function () {
				let email = em.value;
				let code = codeInput.value;
				if(divs[0].innerHTML==''&&codeInput.value!=''){
					$.get("/findPsw?email="+email+'&code='+code,(data,status)=>{
						console.log(data)
						if(data == "yes") document.myform.submit();
						else divs[1].innerHTML = "验证码输入错误，请重新输入"
					})
				}
			}
		}
	</script>
</head>

<body class="style-2">

	<div class="container">
		<div class="col-md-12 text-center">
			<ul class="menu">
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-4">


				<!-- Start Sign In Form -->
				<form action="/findPsw" method="POST" class="fh5co-form animate-box" data-animate-effect="fadeInLeft"
					name="myform">
					<h2>忘记密码</h2>
					<div class="form-group">
						<label for="email" class="sr-only">Email</label>
						<input type="email" name="email" class="form-control" id="email" placeholder="邮箱" autocomplete="off">
					</div>
					<div class="tf"></div>
					<div class="form-group">
						<input type="button" onclick="sendEmail()" class="btn btn-group-vertical" id="emialcore"
							value="发送邮件">
						<input type="text" name="code" style="width: 150px;" placeholder="请输入验证码..." autocomplete="off"id="code">
					</div>
					<div class="form-group">

						<p><a href="/user_login">登录</a> 或者 <a href="/sign-up">注册</a></p>
					</div>
					<div class="tf"></div>
					<div class="form-group">
						<input type="button" value="验证" class="btn btn-info" id="bt">
					</div>
				</form>
				<!-- END Sign In Form -->


			</div>
		</div>
	</div>


	<!-- jQuery -->
	<script src="../public/js/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="../public/js/bootstrap.min.js"></script>
	<!-- Placeholder -->
	<script src="../public/js/jquery.placeholder.min.js"></script>
	<!-- Waypoints -->
	<script src="../public/js/jquery.waypoints.min.js"></script>
	<!-- Main JS -->
	<script src="../public/js/main.js"></script>

	<script>
		function sendEmail() {
			var divs = document.getElementsByClassName('tf');
			var em = document.getElementById('email');
			if (em.value == '') {
				divs[0].innerHTML = "邮箱账号不能为空！"
				em.focus();
				return false;
			}
			else if (/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/.test(em.value) == false) {
				divs[0].innerHTML = "请输入正确的邮箱格式！";
				return false;
			}
			var time = 60;//定义60秒的倒计时
			var email = $('#email').val();//获取输入框的邮箱

			//这里用ajax将邮箱发到后台
			$.get('/email',
				{
					email: email,
				},
				function (data) {
					console.log(data)
					if (data.status == 400) {
						divs[0].innerHTML = "无该用户数据"
					} else {
						divs[0].innerHTML = "邮箱发送成功";
						//设置一个定时，一秒执行一次
						var mytime = setInterval(function () {
							subs();
						}, 1000)
						function subs() {
							time--;
							$('#emialcore').attr("value", "请" + time + "秒后再试");
							if (time === 0) {
								clearInterval(mytime);
								$('#emialcore').attr("value", "发送验证码");
								$('#emialcore').attr("disabled", false);//按键可用
							} else {
								$('#emialcore').attr("disabled", true);//按键不可用
							}
						}
					}
				}
			)

		}
	</script>


</body>

</html>