
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>用户登录界面</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	

  

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- <link rel="shortcut icon" href="favicon.ico"> -->

	<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->
	
	<link rel="stylesheet" href="../public/css/bootstrap.min.css">
	<link rel="stylesheet" href="../public/css/animate.css">
	<link rel="stylesheet" href="../public/css/style.css">


	<!-- Modernizr JS -->
	<script src="../public/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<style>
		.tf {
			margin-top: -20px;
			color: red;
			font-size:small;
			font-family:宋体;
		}
	</style>
		<script type="text/javascript">
			window.onload=function(){
				var btn=document.getElementById('bt');
				var em=document.getElementById('email');
				var psw=document.getElementById('password');
				var divs=document.getElementsByClassName('tf');
				em.onblur=function(){
	
					if(em.value==''){
						divs[0].innerHTML='邮箱账号不能为空！';
					}
					else divs[0].innerHTML='';
				}
				psw.onblur=function(){
					if(psw.value==''){
						divs[1].innerHTML='密码不能为空！';
						
					}
					else divs[1].innerHTML='';
				}
				btn.onclick=function(){
					if(em.value==''||psw.value==''){
						if(em.value==''){
							divs[0].innerHTML='邮箱账号不能为空！';
							em.focus();
						}
						if(psw.value==''){
							divs[1].innerHTML='密码不能为空！';
						}
						return false;
					}
					else if(/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/.test(em.value)==false){
						divs[0].innerHTML="请输入正确的邮箱格式！";
						return false;
					}
					document.myform.submit();
				}
			}
		</script>
	</head>
	<body class="style-2">

		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="menu">
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					

					<!-- Start Sign In Form -->
					<form action="/form" method="POST" class="fh5co-form animate-box" data-animate-effect="fadeInLeft" name="myform">
						<h2> 登录 </h2>
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="email" class="form-control" id="email" name="user" placeholder="邮箱" autocomplete="off">
						</div>
						<div class="tf"></div>
						<div class="form-group">
							<label for="password" class="sr-only">Password</label>
							<input type="password" name="psw" class="form-control" id="password" placeholder="密码" autocomplete="off">
						</div>
						<div class="tf"></div>
						<div class="form-group">
							<label for="remember"><input type="checkbox" id="remember"> 记住我</label>
						</div>
						<div class="form-group">
							<p>没有注册? <a href="/sign-up">注册</a> | <a href="/forgot">忘记密码?</a></p>
						</div>
						<div class="form-group">
							<input type="button" value="登录" class="btn btn-primary" id="bt">
						</div>
					</form>
					<!-- END Sign In Form -->

				</div>
			</div>
		</div>

	
	<!-- jQuery -->
	<script src="../public/js/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="../public/js/bootstrap.min.js"></script>
	<!-- Placeholder -->
	<script src="../public/js/jquery.placeholder.min.js"></script>
	<!-- Waypoints -->
	<script src="../public/js/jquery.waypoints.min.js"></script>
	<!-- Main JS -->
	<script src="../public/js/main.js"></script>


	</body>

</html>

