<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录结果</title>
    <link rel="stylesheet" href="../public/css/denglu.css">
</head>
<body>
    <!-- 插值语法，后端将结果返回到 result -->
    <!-- 要求：登录成功则返回到主界面 主界面 url：/menu
                登录失败则提示用户登录失败，并且提供一个按钮返回到登录界面 登录界面 url：/index -->
                <h1>用户登陆系统</h1><br/>
                <hr>
                <h><font color="red"><b>登陆成功！</b></font></h>
                <p>
                    欢迎进入系统！
                </p>
                     
                <h3>
                    请点击<a href="">这里</a>跳转到首页！
                </h3>
</body>
</html>