<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./public/js/bootstrap.min.js"></script>
    <script src="./public/js/jquery.min.js"></script>
    <title>Document</title>
    <script>
        function abc() {
            var time = 60;//定义60秒的倒计时
            var email = $('#email').val();//获取输入框的邮箱
            var user_name = $('#form-username').val();//获取输入的账户名

            //这里我用的是ajax将用户名和邮箱发到后台
            $.get('/api/email',
                {
                    email: email,
                    user_name: user_name
                },
                function (data) {
                    console.log(data)

                }
            )
            //设置一个定时，一秒执行一次
            var mytime = setInterval(function () {
                subs();
            }, 1000)
            function subs() {
                time--;
                $('#emialcore').attr("value", "请" + time + "秒后再试");
                if (time === 0) {
                    clearInterval(mytime);
                    $('#emialcore').attr("value", "发送验证码");
                    $('#emialcore').attr("disabled", false);//按键可用
                } else {
                    $('#emialcore').attr("disabled", true);//按键不可用
                }
            }
        }
    </script>
</head>

<body>
    <form role="form" action="doRegister" method="post" class="login-form">
        <div class="form-group">
            <label class="sr-only" for="form-username">Username</label>
            <input type="text" name="username" placeholder="请输入账号..." class="form-username form-control"
                id="form-username">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-password">Password</label>
            <input type="password" name="password" placeholder="请输入密码..." class="form-password form-control"
                id="form-password">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-password">Email</label>
            <input type="text" name="email" placeholder="请输入邮箱..." class="form-password form-control" id="email"><br>
            <input type="button" onclick="abc()" class="btn btn-danger" id="emialcore" value="发送验证码">
            <input type="text" name="code" placeholder="请输入验证码..." id="code">
        </div>
        <input type="submit" class="btn">
    </form>
</body>

</html>