<!DOCTYPE html>
<head>
	<title>The Brownie - Responsive HTML5 Template</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='http://fonts.useso.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<link href="../../public/css/font-awesome.min.css" rel="stylesheet">
	<link href="../../public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../../public/css/templatemo_style.css" rel="stylesheet" type="text/css">
	<style>
		#BT {
			color: #805e07;
			margin-right: -100px;
			width: auto;
			background-color: #2a2a2a;
			border: none;
			border-radius: 5px;
		}

		#BT:hover {
			color: yellow;
			background-color: green;
		}
	</style>
</head>
<body>
	<nav id="responsive-menu">
        <ul class="menu-holder">
            <li class="active"><a href="#home"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="#about"><i class="fa fa-briefcase"></i>About</a></li>
            <li><a href="#services"><i class="fa fa-cogs"></i>Services</a></li>
            <li><a href="#products"><i class="fa fa-list"></i>Products</a></li>
            <li><a href="#contact"><i class="fa fa-envelope"></i>Contact</a></li>
        </ul>
    </nav>
    <div class="templatemo-site-header">
		<div class="container">
			<div class="row templatemo-position-relative">				
				<nav class="hidden-xs text-uppercase templatemo-nav">
					<ul class="menu-holder">
						<li class="active"><a href="#home">购票</a></li>
						<li><a href="#about">演员</a></li>					
						<li><a href="#services">其他电影推荐</a></li>
						<a href="{{sell_url}}"><button  id="BT"> {{sell_btn}} </button></a>
						
					</ul>
				</nav>
				<h1 class="templatemo-site-name">
                	<span class="templatemo-brown">欢迎来到</span> 
                	<span class="templatemo-gold">票多多电影售票</span>
                </h1>
				<div class="text-right visible-xs">
		            <a href="#" id="mobile_menu"><span class="fa fa-bars"></span></a>
		        </div>
			</div>
		</div>    	
    </div>
	<section id="home" class="templatemo-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 templatemo-position-relative">

						<div class="templatemo-home-image-container">
							<img src="../../public/images/sell_ticket/recom3.jpg" alt="Home" class="templatemo-home-image" style="width: 501px;height: auto;">
							<div class="templatemo-image-overlay">							
								<span class="fa fa-search templatemo-search-icon"></span>
								<p class="text-uppercase templatemo-gold" style="font-size: 30px;">超越</p>
								<p class="text-uppercase"></p>												
							</div>
						</div>
															
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="templatemo-content-box templatemo-second-box">
						<h2 class="templatemo-brown">电影简介</h2>
						
						<p class="margin-top-30">百米冠军吴添翼为解开无法战胜老飞人郝超越的心结而返乡，不料郝超越早已沉沦，逃避最爱的跑步事业，更处心积虑利用吴添翼谋利。师兄弟二人的较量从回忆中的跑道延伸进现实生活，历经误会和冲突，最终冰释前嫌并互相治愈······
							<br /><br /><br /><br /><br /><br />价格：60元<br /><br />导演： 韩博文<br /><br />上映日期： 2021-06-12<br /><br />类型： 剧情 / 喜剧 / 运动<br /><br />片长： 97分钟 <br /><br />主演： 郑恺 / 李昀锐 / 曹炳琨 / 张蓝心 / 张榕容
						</p>
						<a href="/shop_success2?email={{sell_btn}}" class="btn text-uppercase templatemo-btn templatemo-info-btn">点击购票</a>
					</div>					
				</div>
			</div>
		</div>
	</section>
    <br />
	<br /> 
	<br />
	<br /> 
	<br />
	<br /> 
	<section id="about" class="templatemo-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="templatemo-content-box text-right">
						<h2 class="templatemo-brown">
							<span class="templatemo-section-title" style="font-size: 70px;">饰演明星</span>
						</h2>
						</div>										
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="templatemo-flex-center templatemo-black-bg">
						<div class="templatemo-flex-center templatemo-brown-rectangle-bg">
							<div class="jcarousel-wrapper templatemo-team">
								<div class="jcarousel">
								    <ul>
								        <li>
								        	<div class="text-center templatemo-team-member-container">
								        		<div class="templatemo-member-img-container">
								        			<img src="../../public/images/sell_ticket/team-img-frame.png" alt="Team img frame" class="templatemo-img-frame">
								        			<img src="../../public/images/sell_ticket/star1.png" alt="Team Member 1" class="tm-team-member-img" style="width: 140px;height: auto;">
								        		</div>								        		
												<h3 class="tm-team-member-title templatemo-gold text-uppercase margin-top-15">郑凯</h3>
												<img src="../../public/images/sell_ticket/underline.png" alt="Underline" class="margin-top-15 img-responsive center-block">
												<p class="margin-top-15">郑恺（Ryan），1986年4月17日出生于上海，中国内地男演员，毕业于上海戏剧学院表演系，上海话剧艺术中心演员。曾先后与张艺谋、冯小刚、赵薇等著名导演合作《影》、《长城》、《私人订制》</p>
												
											</div>
								        </li>
								        <li>
								        	<div class="text-center templatemo-team-member-container">
								        		<div class="templatemo-member-img-container">
								        			<img src="../../public/images/sell_ticket/team-img-frame.png" alt="Team img frame" class="templatemo-img-frame">
													<img src="../../public/images/sell_ticket/star5.png" alt="Team Member 2" class="img-circle tm-team-member-img" style="width: 140px;height: auto;">
												</div>
												<h3 class="tm-team-member-title templatemo-gold text-uppercase margin-top-15">李昀锐</h3>
												<img src="../../public/images/sell_ticket/underline.png" alt="Underline" class="margin-top-15">
												<p class="margin-top-15">李昀锐，1996年8月24日出生于湖北省，中国内地男演员、歌手，毕业于华中科技大学。2015年，主演毕业电影《和你在一起》，从而正式出道。2017年，主演美食电影《龙的厨房之皇太子的错爱》。2018年3月29日，主演的青春偶像剧《恋与偶像》。2019年，参加腾讯视频综艺节目《创造营2019》</p>
												
											</div>							        	
								        </li>
								        <li>
								        	<div class="text-center templatemo-team-member-container">
								        		<div class="templatemo-member-img-container">
								        			<img src="../../public/images/sell_ticket/team-img-frame.png" alt="Team img frame" class="templatemo-img-frame">
													<img src="../../public/images/sell_ticket/star6.png" alt="Team Member 3" class="img-circle tm-team-member-img" style="width: 150px;height: auto;">
												</div>
												<h3 class="tm-team-member-title templatemo-gold text-uppercase margin-top-15">曹炳琨</h3>
												<img src="../../public/images/sell_ticket/underline.png" alt="Underline" class="margin-top-15">
												<p class="margin-top-15">曹炳琨，1983年3月25日出生于北京市，中国内地影视男演员，毕业于北京电影学院大专班.2008年，凭借在电视剧《潜伏》中饰演的谢若林一角而成名，凭借电视剧《渗透》获得华鼎奖“中国近代革命题材电视剧最佳男主角”。</p>
									
											</div>							        	
								        </li>
								    </ul>
								</div>
								<a href="#" class="jcarousel-control-prev inactive">&lsaquo;</a>
				                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
							</div>
						</div>						
					</div>					
				</div>
			</div>
		</div>
	</section>
	<section id="services" class="templatemo-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
							<div class="templatemo-flex-item-ie-fix padding-30">
								<h2 class="templatemo-gold">热带往事</h2>
								<div class="templatemo-service-container margin-top-15">


									<img src="../../public/images/sell_ticket/recom1.png" alt="Plan 1" class="templatemo-service-image" style="width: 350px;height:auto;">
												
									
								</div>	
							</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="templatemo-content-box templatemo-second-box">
						<h2 class="templatemo-brown">
							<span class="templatemo-section-title">电影简介 <span class="templatemo-gold"></span></span>
						</h2>
						<p class="margin-top-30">南方炎热的夏日夜晚，年轻的王学明（彭于晏 饰）遭遇了一起意外。梁妈（张艾嘉 饰）的老公 忽然失踪，她寻求陈警官的帮助，却不知自己已成为别人的下一个“目标”。陈警官（王砚辉 饰）负责老梁 失踪案，他发现案情的发展远超自己掌控。这群不知命运已被悄然更改的人，都在试图窥视关于那个夜晚的真相，但这个夏夜的记忆如错乱的拼图，愈加扑朔迷离……</p>
					</div>					
				</div>
			</div>
		</div>
	</section>
	<section id="products" class="templatemo-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="templatemo-content-box text-right">
						<h2 class="templatemo-brown">
							<span class="templatemo-section-title">电影简介 <span class="templatemo-gold"></span></span>
						</h2>
						<p class="margin-top-30">意大利南部小镇，古灵精怪的小男孩多多（萨瓦特利·卡西欧 饰）喜欢看电影，更喜欢看放映师艾佛特（菲利浦·诺瓦雷 饰）放电影，他和艾佛特成为了忘年之交，在胶片中找到了童年生活的乐趣。 好心的艾佛特为了让更多的观众看到电影，搞了一次露天电影，结果胶片着火了，多多把艾弗达从火海 中救了出来，但艾弗达双目失明。多多成了小镇唯一会放电影的人，他接替意大利南部小镇，古灵精怪的小男孩多多（萨瓦特利·卡西欧 饰）喜欢看电影，更喜欢看放映师艾佛特（菲利浦·诺瓦雷 饰）放电影，他和艾佛特成为了忘年之交，在胶片中找到了童年生活的乐趣。 好心的艾佛特为了让更多的观众看到电影，搞了一次露天电影，结果胶片着火了，多多把艾弗达从火海 中救了出来，但艾弗达双目失明。多多成了小镇唯一会放电影的人，他接替艾佛特成了小镇的电影放映师。艾佛特成了小镇的电影放映师。</p>
					</div>					
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="templatemo-flex-item-ie-fix padding-30">
								<div class="jcarousel">     
									<div class="templatemo-service-container margin-top-15">
											
										
										<img src="../../public/images/sell_ticket/recom2.png" alt="Plan 1" class="templatemo-service-image" style="width: 400px;height:539px;">	


									</div>	
								</div>
							</div>													
						</div>						
										
				
			</div>
		</div>
	</section>

	<section id="services" class="templatemo-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
							<div class="templatemo-flex-item-ie-fix padding-30">
								<h2 class="templatemo-gold">超越</h2>
								<div class="templatemo-service-container margin-top-15">


									<img src="../../public/images/sell_ticket/recom3.jpg" alt="Plan 1" class="templatemo-service-image" style="width: 350px;height:auto;">
												
									
								</div>	
							</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="templatemo-content-box templatemo-second-box">
						<h2 class="templatemo-brown">
							<span class="templatemo-section-title">电影简介 <span class="templatemo-gold"></span></span>
						</h2>
						<p class="margin-top-30">讲述了短跑运动员们的职业生涯和转型经历。电影中张榕容饰演的是“郝超越”（郑恺 饰）的爱人“齐悦悦”，两人因短跑相识相爱，齐悦悦在陪伴爱人经历了人生的高潮与低谷后，最终唤醒郝超越重新振作继续奔跑。百米冠军吴添翼为解开无法战胜老飞人郝超越的心结而返乡，不料郝超越早已沉沦，逃避最爱的跑步事业，更处心积虑利用吴添翼谋利。师兄弟二人的较量从回忆中的跑道延伸进现实生活，历经误会和冲突，最终冰释前嫌并互相治愈······</p>
					</div>					
				</div>
			</div>
		</div>
	</section>

	<footer class="container margin-top-30">
		<div class="row">
			<div class="col-lg-12">
				<p class="templatemo-copyright-container text-uppercase small templatemo-brown">
					<span class="templatemo-copyright-text"><a href="#" class="templatemo-gold">点此返回顶部</a></span>
					
				</p>
			</div>
		</div>		
	</footer>	
	<script src="../../public/js/jquery-1.11.1.min.js"></script>
	<script src="../../public/js/jquery.jcarousel.min.js"></script>
	<script src="../../public/js/templatemo_script.js"></script>
</body>
</html>