<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/zhuce.css">
</head>
<body>
    <div class="wrap">
            <div class="jump">
                <p> 购票成功！ </p>
                <a href="/">
                    <button type="button"><a style="text-decoration: none;" href="/">点此返回主页面</a><tton>
                </a>
            </div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    

</body>
</html>