<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/zhuce.css">
</head>
<body>
    <div class="wrap">
            <div class="jump">
                <p>修改密码成功！</p>
                <form action="change_email" method="POST">
                    <input type="submit" value="返回主页面">
                </form>
                
            </div>
            
        </div>
    

</body>
</html>